@model ice_cream_parlour.Models.tbl_admin

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="admin-login">Admin Login</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-4">Username:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.adm_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.adm_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-6">Password:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.adm_pwd, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.adm_pwd, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 50px;">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn1 btn" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
       
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
