@model ice_cream_parlour.Models.tbl_product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["aname"] != null || Session["uname"] != null)
{

}

else
{
    Response.Redirect("~/User/Login");
}
<h2 class="admin-login">Post a Recipe</h2>
@using (Html.BeginForm("Create", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-6">Name:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.p_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.p_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-6">Image:</label>
                        <div class="col-md-10">
                            <input type="file" name="abc" id="abc" />
                            @Html.ValidationMessageFor(model => model.p_image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label class="control-label col-md-6">Description:</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.p_desc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.p_desc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Post" class="btn btn1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
