@model IEnumerable<ice_cream_parlour.Models.tbl_product>

@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["uname"] != null)
{
    <h2 class="admin-login">Recipes</h2>
}
else
{
    Response.Redirect("~/User/Login");
}

<p class="text-center" id="mya">
    @Html.ActionLink("Post Recipe", "Create", "admin")
</p>
<br>
<p class="text-center" id="mya">
    @Html.ActionLink("Faq's for creating recipes", "faq", "Home")
</p>
<br>
<style>
    #mya a {
        background-color: lightpink;
        color: white;
        border-radius: 10px;
        padding: 8px;
        transition: 0.3s;
       
    }

        #mya a:hover {
            background-color: hotpink;
        }
</style>

<div class="container">
    <div class="row">

       
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 text-center ">
                    <div class="card table-bordered" style="width: 18rem; margin-bottom: 15px; padding: 5px; margin-left: auto; margin-right: auto;">
                        <img class="card-img-top " src="@Url.Content(item.p_image)" alt="Card image cap">
                        <hr />
                        <div id="mya" class="card-body">
                            <h6 class="card-title">@Html.DisplayFor(modelItem => item.p_name)</h6>
                            @Html.ActionLink("Show Full Recipe", "Details", new { id = item.p_id })
                        </div>
                    </div>
                </div>
            }
   
       

    

    </div>
</div>
